<div class="neo4j-home-grid">
  <div class="neo4j-home-grid-sidebar">
    <div class="neo4j-home-grid-announcements">
      {{mount-widget widget="latest-announcements"}}
    </div>
    <div class="neo4j-home-grid-blog">
      {{mount-widget widget="latest-blog-post"}}
    </div>
    <div class="neo4j-home-grid-tweets">
      {{mount-widget widget="latest-tweet"}}
    </div>
    <div class="neo4j-home-grid-links">
      {{mount-widget widget="useful-links"}}
    </div>
  </div>

  <div class="neo4j-home-grid-main">
    <div class="neo4j-home-grid-contents">
      {{mount-widget widget="custom-categories"}}
    </div>
    <div class="neo4j-home-grid-ninjas">
      {{mount-widget widget="ninjas"}} 
    </div>
    <div class="neo4j-home-grid-featured">
      {{mount-widget widget="featured-member"}} 
    </div>
    <div class="neo4j-home-grid-help">
      {{mount-widget widget="can-you-help"}}
    </div>
    <div class="neo4j-home-grid-community-content">
      {{mount-widget widget="community-content"}} 
    </div>
    <div class="neo4j-home-grid-community-projects">
      {{mount-widget widget="community-projects"}} 
    </div>
  </div>

  <div class="neo4j-home-grid-footer">
    {{partial "home-footer"}}
  </div>
</div>
